body{
    background-image: url('https://cdn.pixabay.com/photo/2015/11/07/11/02/milky-way-1030765_960_720.jpg');
    background-size: auto 150vh;
    font-family: Arial;
    height: 350vh;
    
  }
  .menu {
    background-color: white;
  }
  .menu ul{
    display: flex;
    justify-content: space-around 
  }
  .menu li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: underline;
  }
  .sub-titulo,
  .titulo {
    text-align: center;
    color: whitesmoke;
  }
  .sub-titulo {
    font-style: italic;
  }